body{
    background: url("https://media.istockphoto.com/photos/delicious-homemade-hamburger-and-french-fries-picture-id1254672762?k=20&m=1254672762&s=170667a&w=0&h=aNzUqoy9KLWAz2TslF11kvRYzX1pGOs9dgkxeHH5lvU=");
    background-size: cover;
    background-repeat: no-repeat;
}
body::after{
    content: '';
    position: absolute;
    z-index:-1;
    inset: 0;
    background:black ;
    opacity: 0.5;
 }
.container{
    display: flex;
    flex-direction: row;
}
.item1{
    display:inline-block;
}
.div1{
    width:60px;
    height:440px;
    background-color: black;
}
#first{
    background-color: yellow;
    height:270px;
}
.fa-list{
    color: white;
    margin-left: 30px;
    margin-top: 30px;
}
.fa-magnifying-glass{
    color: white;
    margin-left: 30px;
    margin-top: 40px;

}
.f{
    color:black;
    margin-left: 25px;
    border: 2px solid black;
    background-color: yellow;
   border-radius: 9px;
    margin-top: 30px;
}
.fa-instagram{
    margin-left: 25px;
    margin-top: 25px;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 5px;
}
.fa-twitter{
    border: 2px solid black;
    font-size: 15px;
    margin-top: 30px;
    margin-left: 25px;
    border-radius: 10px;
    
}
.fa-comment{
    font-size: 15px;
    margin-top: 30px;
    margin-left: 25px;
    border: 2px solid black;
    border-radius: 12px; 
}

.list li span{
    writing-mode:vertical-rl;
    font-size: 12px;
   
}
.list li{
    display: inline;
    color:white;

}
.item2 li button{
    margin-left: 120px;
}
.li1{
   
    border-top: 30px;
    font-size: 35px;
}
.li2 a{
   margin-left: 50px;
   color: white;
   text-decoration: none;
}
.li2 a:hover{
    text-decoration: underline solid yellow;
}
.list li button{
    background-color: yellow;
    width:100px;
    height:30px;
    margin-left: 580px;
    border-color: yellow;
    border-radius: 2px;
    color: black;
}
.one{
    color:white;
    font-size: 50px;
    margin-left: 30px;
    margin-top: 100px; 
 }
.one span{
    color: yellow;
}
.two{
    color:white;
    font-size: 50px;
    margin-left: 30px;   
}
.two span{
    color: yellow;
}
.item2 button{
    background-color: yellow;
    width:100px;
    height:30px;
    margin-left: 50px;
    border-color: yellow;
    color: black;
}
.sub{
    background-color: yellow;
    width:220px;
    height: 110px;
    position: relative;
    top: 270px;
    left: 900px;
    text-align: center;
    padding-top: 10px;
}
.sub a{
    text-decoration: none;
    color: black;
}
.prev{
    margin-left: 80px;
    margin-right: 10px;
}
